menuconfig RTL8822CS_HAL
	tristate "RTL8822CS HAL drivers"
	select RTL8822CS_HAL_DRV
	help
	  RTL8822CS HAL drivers.

if RTL8822CS_HAL

config RTL8822CS_HAL_DRV
	tristate "RTL8822CS HAL Core drivers"
	select SDIO_HCI
	select MP_INCLUDED
	help
	  RTL8822CS HAL core drivers.

endif # RTL8822CS_HAL
